<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "eScores"
        version     = "1.0.0" >

    <name>First app</name>
    <description>My first mobile app</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		John Brown
	</author>
	<platform name="android">
	<!-- you can use any density that exists in the Android project -->
    	<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    	<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
   	 <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    	<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
 
   	 <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    	<splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    	<splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    	<splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>

	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-network-information" spec="~2.0.1" />
	<plugin name="cordova-plugin-device-motion" spec="~2.0.0" />
	<plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
	<plugin spec="https://github.com/cordova-sms/cordova-sms-plugin" source="git" />
	
	
</widget>
